{% load staticfiles %}
<?xml version="1.0" encoding="UTF-8"?>
<!doctype html>
<html>
  <head>
    <title>{% block title %}Timesheet{% endblock %}</title>

    <meta charset="UTF-8" />
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />

    <link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/redmond/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.css" />
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.print.css" media="print" />
    <link rel="stylesheet" type="text/css" href="{% static "timesheet/css/calendar.css" %}" />
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.2.1/moment.min.js"></script>
    <script type="text/javascript" src="{% static "timesheet/js/timesheet.js" %}"></script>
  </head>
<body>
  <div id='wrap'>
    <div id='redmine-events'>
      <h4>Draggable Events</h4>
      <div class='redmine-event'>#0</div>
      <div class='redmine-event'>#1000</div>
      <div class='redmine-event'>#2000</div>
      <div class='redmine-event'>#3000</div>
    </div>
    <div id='calendar'></div>
    <div id="dialog-alert"></div>
    <div id="dialog-issue"></div>
    <div style='clear:both'></div>
  </div>
</body>
</html>

<!-- vim:set ft=htmldjango et: -->
<!-- vi:set sw=2 ts=2: -->
