.label-block {
  display: block;
}

.input-block {
  width: 100%;
}

.issue-time {
  display: block;
}

.issue-time-begin,
.issue-time-end {
  display: inline-block;
  width: 48%;
}

.issue-time-end {
  float: right;
}

.fc-agenda-slots td div {
  height: 15px;
}

.fc-event-time {
  float: left;
}

.fc-event-title {
  float: right;
  text-align: right;
}

#left h4 {
  font-size: 16px;
  margin-top: 0;
  padding-top: .5em;
}

.redmine-issue { /* try to mimick the look of a real event */
  margin: 10px 0;
  padding: 3px 4px;
  background: #3366cc;
  color: #ffffff;
  font-size: .85em;
  cursor: pointer;
}

/*
 * Redmine-ish theme on top of the Redmond jQuery UI theme.
 */
body {
  font-size: 13px;
  margin-top: 25px;
  background-color: #eeeeee;
}

body, .ui-widget {
  font-family: Verdana, sans-serif;
}

.ui-widget-header {
  background: #507aaa url('');
}

.ui-widget-header {
  border-color: #4c6076;
}

.ui-widget-content {
  border-color: #e6e9ef;
}

.fc-today {
	background: #ffffdd;
}

.ui-state-active {
  color: #2e6e9e;
}

#wrap {
  width: 1100px;
  margin: 0 auto;
}

#wrap>div {
  padding: 10px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  text-align: left;
}

#wrap #left {
  float: left;
  width: 150px;
}

#wrap #right {
  float: right;
  width: 900px;
}
