.label-block {
  display: block;
}

.input-block {
  width: 100%;
}

.issue-time {
  display: block;
}

.issue-time-begin,
.issue-time-end {
  display: inline-block;
  width: 48%;
}

.issue-time-end {
  float: right;
}

.fc-event-time {
  float: left;
}

.fc-event-title {
  float: right;
  text-align: right;
}
