.label-block {
  display: block;
}

.input-block {
  width: 100%;
}

.issue-time {
  display: block;
}

.issue-time-begin,
.issue-time-end {
  display: inline-block;
  width: 48%;
}

.issue-time-end {
  float: right;
}

body {
  margin-top: 40px;
}

.fc-event-time {
  float: left;
}

.fc-event-title {
  float: right;
  text-align: right;
}

#wrap {
  width: 1100px;
  margin: 0 auto;
}

#redmine-events {
  float: left;
  width: 150px;
  padding: 0 10px;
  border: 1px solid #ccc;
  background: #eee;
  text-align: left;
}

#redmine-events h4 {
  font-size: 16px;
  margin-top: 0;
  padding-top: 1em;
}

.redmine-event { /* try to mimick the look of a real event */
  margin: 10px 0;
  padding: 2px 4px;
  background: #3366CC;
  color: #fff;
  font-size: .85em;
  cursor: pointer;
}

#calendar {
  float: right;
  width: 900px;
}
